<h1>My Api</h1>

<h2>Authenticate URL - <a href="/home/authenticate">/home/authenticate</a></h2>
<h2>Secret Product Api URL For Get All Secret Products- <a href="/home/secretproducts">/home/secretproducts</a></h2>
<h2>Secret Product Api URL For Get Secret Product By Product ID- <a href="/home/getproductbyid?productid=P001">/home/getproductbyid?productid={productid}</a></h2>